.services .serv-item {
  border: 1px solid #eee;
  padding: 50px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.services .serv-item:hover {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.2);
}
.services .serv-item:hover .icon {
  background: #0495d6;
  color: #fff;
}
.services .serv-item .icon {
  border-radius: 50%;
  color: #0495d6;
  font-size: 35px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
  width: 70px;
}
.services .serv-item h6 {
  font-weight: 500;
  margin-bottom: 20px;
}
