@mixin transition($transition-property, $transition-duration, $transition-timing-function, $transition-delay) {
    -moz-transition:    $transition-property $transition-duration $transition-timing-function $transition-delay;
    -webkit-transition: $transition-property $transition-duration $transition-timing-function $transition-delay;
    -o-transition:      $transition-property $transition-duration $transition-timing-function $transition-delay;
    -ms-transition:     $transition-property $transition-duration $transition-timing-function $transition-delay;
    transition:         $transition-property $transition-duration $transition-timing-function $transition-delay;
}

@mixin transform($fn) {
    -moz-transform:    $fn;
    -webkit-transform: $fn;
    -o-transform:      $fn;
    -ms-transform:     $fn;
    transform:         $fn;
}

@mixin filter($fn) {
    -moz-filter:    $fn;
    -webkit-filter: $fn;
    -o-filter:      $fn;
    -ms-filter:     $fn;
    filter:         $fn;
}