<nav class="nav">
  <img src="{{ logo }}" alt="logo" />
  <ul class="nav__list">
    <li *ngFor="let item of navitems, let i = index" class="li__nav__item">
      <a *ngIf="item.link.charAt(0)==='#'" [href]="item.link">{{item.title}} </a>
      <a *ngIf="item.link.charAt(0)==='/'" [routerLink]="[item.link]" class="nav__item"
        [routerLinkActive]="['active']">{{item.title}}</a>

    </li>
    <li class="li__nav__item menu-button" (click)="toggleMenu()" (click)="$event.stopPropagation()">Menu</li>
  </ul>
</nav>
<app-menu *ngIf="showMenu"></app-menu>