.hidden{
  // visibility:hidden;
}
.bar{
  position: fixed;
  top:50%;
  left:0;
  background-color:white;
  width:100%;
}
.container{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  border: 3px solid rgb(189, 189, 189);
}
input, select{
  line-height:1em;
  font-size:1em;
  font-family:'Raleway';
  border-radius:15px;
  border:2px solid rgb(145, 145, 145);
  margin:.7em 0;
}
label{
  padding-top:.5em;
  font-size:2em;
  font-family:'Raleway';
  display:flex;
  flex-direction:column;
  font-weight:bold;
}

button {
  margin-right:2vw;
  background-color:#91d100;
  color:white;
  font-weight:800;
  font-family:"Raleway";
  font-size:1.7em;
  padding:0.3em 0.6em;
  border-radius:15px;
  text-transform:uppercase;
}
