<app-background>
    <app-navbar logo="../../../assets/images/logo-lg.png"></app-navbar>
    <app-section-title>Reset Password</app-section-title>
    <app-form-container>
        <p>Enter your email or username and we'll send you a link to get back into your account.</p>
        <app-text-input label="Email or Username:"></app-text-input>
        <app-error-message [active]="true">Mail or Username not registered. Please verify</app-error-message>
        <app-button>Send new password</app-button>
        <p>Or if you want a new account. Please <a href="/register">Register</a></p>
    </app-form-container>
</app-background>