.container {
    background-color: white;
    border-radius: 15px;
    padding: 1vw 3vw 1vw 3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gradient {
    background: #12468d;
    background: linear-gradient(0deg, #12468d, #7fbe13);
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    align-self: center;
    min-width: 500px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .gradient {
        min-width: 100px;
    }
}