.cover {
  width: 100%;
}

.container {
  background-color: white;
}

.text-container {
  position: absolute;
  margin-top: 50px;
  top: 2vw;
  left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  width: 30%;
  font-size: 4vw;
  font-family: "Gotham Black";
  font-weight: 800;
  color: white;
  padding-top: 7vw;
  padding-left: 7vw;
  padding-bottom: 0;
}

.subtitle {
  width: 40%;
  font-family: "Gotham Medium";
  font-size: 1.9vw;
  color: white;
  padding-left: 7vw;
  padding-top: 1vw;
}

.button {
  width: 24vw;
  margin-left: 20%;
  margin-top: 1.3vw;
  -webkit-filter: drop-shadow(15px 15px 15px #222);
  filter: drop-shadow(15px 15px 15px #222);
  cursor: pointer;
  animation: center-animate 1s ease infinite alternate;

}

@keyframes center-animate {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .cover {
    width: 100%;
  }

  .title {
    width: 50%;
    font-size: 5vw;
    padding-top: 4vw;
    padding-left: 5vw;
  }

  .subtitle {
    display: none;
  }

  .button {
    width: 30vw;
    margin-left: 20%;
    margin-top: 1.3vw;
    -webkit-filter: drop-shadow(15px 15px 15px #222);
    filter: drop-shadow(15px 15px 15px #222);
    cursor: pointer;
    animation: center-animate 1s ease infinite alternate;
  }
}