.step-title {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10%;
}
.step-description {
  font-size: 1em;
}
img {
  width: 80%;
}
.box {
  background-color: #0d1218;
  background-size: auto; /* <------ */
  background-repeat: no-repeat;
  background-position: left top;
  width: 14vw;
  height: 90%;
  margin: 1vw;
  padding: 2vw;
  color: white;
  font-family: "Gotham Medium";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.box-text {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

@media (max-width: 600px) {
  img {
    width: 50%;
  }
  .step-title {
    padding-top: 15px;
    padding-bottom: 0%;
    padding-right: 15%;
    font-size: 2em;
  }
  .step-description {
    font-size: 1em;
  }
  .box {
    width: 80vw;
    margin: 1.2vw;
    padding: 2.2vw;
    padding-right: 3vw;
    padding-bottom: 1rem;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
  }
  .box-text {
    display: flex;
    flex-direction: column;
  }
}
