.whole {
  width: 24vw;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

.container {
  margin: 10px;
  margin-bottom: 20px;
  background-color: #1d213e;
  color: white;
  font-family: "Gotham Medium";
  text-align: center;
  overflow: hidden;
  padding-bottom: 70px;
  flex-grow: 1;
}

.image {
  border-radius: 0 0 50% 50%;
  width: 100%;
}

.title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  position: relative;
  bottom: 70px;
  -webkit-filter: drop-shadow(15px 15px 15px #222);
  filter: drop-shadow(15px 15px 15px #222);
}

.text {
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 820px) {

  .whole {
    width: 90vw;
  }

  .container {
    width: 80vw;
  }

  .title {
    font-size: 5vw;
    margin-top: 50px;
  }

  .subtitle {
    font-size: 4vw;
  }

  .button {
    height: 17vw;
    width: 17vw;
    -webkit-filter: drop-shadow(15px 15px 15px #222);
    filter: drop-shadow(15px 15px 15px #222);
    cursor: pointer;
    transition: transform 0.25s ease;
  }
}