.container {
  margin: 5vw;
  background-color: #1d213e;
  color: white;
  font-family: "Raleway";
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 4vw;
  display: flex;
}

.image {
  position: absolute;
  // border-radius: 0 0 50% 50%;
  // top: -4vw;
  // left: 0;
  width: 100%;
}
.button {
  height: 6vw;
  width: 6vw;
  position: absolute;
  bottom: -2vw;
  left: 50%;
  margin-left: -3vw;
  -webkit-filter: drop-shadow(15px 15px 15px #222);
  filter: drop-shadow(15px 15px 15px #222);
  cursor: pointer;
  transition: transform 0.25s ease;
}

