$height-lg: 20vw;
$height-md: 200px;
$square-lg: calc(20px + $height-lg);

.container {
  display: block;
  margin-right: 5vw;
  margin-left: 5vw;
  height: calc(30px + $height-lg);
}

.gradient {
  position: relative;
  z-index:0;
  left: -5px;
  top: calc(-5px - $height-lg);
  margin: 0px;
  height: $square-lg;
  width: $square-lg;
  background: rgb(4, 57, 216);
  background: linear-gradient(
    0deg,
    rgb(4, 57, 216) 31%,
    rgba(134, 255, 0, 1) 100%
  );
  padding: 7px;
}
.color-bg {
  height: $square-lg;
  background-color: #1d213e;
}
.photo {
  position:relative;
  z-index: 1;
  top: 15px;
  object-fit: cover;
  height: $height-lg;
}

.right {
  right: 15px;
}
.left {
  left: 15px;
}

@media (max-width: 600px) {
  .gradient {
    height: $height-md;
    width: $height-md;
  }
  .color-bg {
    height: $height-md;
  }
  .photo {
    height: calc($height-md + 5px);
  }

  .left {
    right: 15px;
  }
}
