.row {
  display: flex;
  justify-content: center;
}

.button {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8dd024+0,003b9f+100 */
  background: #8dd024;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg,
      #8dd024 0%,
      #003b9f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,
      #8dd024 0%,
      #003b9f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,
      #8dd024 0%,
      #003b9f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dd024', endColorstr='#003b9f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: 5px 8px 11px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 5px 8px 11px 0px rgba(0, 0, 0, 0.47);
  border: none;
  color: white;
  font-weight: bold;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 15px;
  font-size: 19px;
  white-space: pre;
  font-family: "Gotham Black";
  align-items: center;
  align-self: center;
}

.button-hover {
  transition: transform 0.25s ease;
}

.button-hover:hover {
  transform: scale(1.2);
}

.sm {
  font-size: 20px;
}

.md {
  font-size: 25px;
}

.bg {
  font-size: 30px;
  padding: 11px 27px;
}