<app-navbar logo="../../../assets/images/logo-lg.png"></app-navbar>
<app-background>

  <app-section-title>Get a Quote</app-section-title>
  <app-form-container>
    <form [formGroup]="quoteForm" (ngSubmit)="onSubmit(quoteForm.value)">
      <div class="form-group">
        <app-responsive-row>
          <app-select-input class="grow" [options]="dumpsters" option="{{dumpsterType}}" label="Dumpster Type:">
          </app-select-input>
          <app-date-range class="grow" (changeStart)="onChangeStartDate($event)" (changeEnd)="onChangeEndDate($event)"
            label="Date:">
          </app-date-range>
        </app-responsive-row>
        <app-responsive-row>
          <app-text-input class="location grow" label="Location:" (change)="onChange($event)" (input)="onInput($event)">
          </app-text-input>
          <app-text-input class="grow" label="Zip Code"></app-text-input>
        </app-responsive-row>
      </div>
      <app-map-container>
        <img class="map" src="../../../assets/images/map.png" alt="map" />
      </app-map-container>
      <app-quote-result [available]=true [total]="20"></app-quote-result>
    </form>
  </app-form-container>
</app-background>