.container {
  background-color: #1d213e;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Gotham Bold";
  padding-bottom: 300px;
  height: 100%;
}

.title {
  color: white;
  font-size: 3vw;
  font-family: "Gotham Black";
  font-weight: 800;
  text-align: center;
  padding: 3vw;
}

.quote-container {
  background-color: white;
  border-radius: 15px;
  padding: 1vw 3vw 1vw 3vw;
  display: flex;
  justify-content: center;
}

.gradient {
  background: #12468d;
  background: linear-gradient(0deg, #12468d, #7fbe13);
  padding: 5px;
  border-radius: 15px;
  width: 70%;
  align-self: center;
}

.gradient-2 {
  background: linear-gradient(0deg, #7fbe13, #12468d) border-box;
  border-radius: 3vw;
  border: 1px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.gradient-sm {
  border-radius: 12px;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
  padding-left: 10%;
  padding-right: 10%;
}

.map {
  width: 100%;
  align-self: center;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1vw;
  width: 100%;
  max-width: 100%;
}

input {
  width: 100%;
  max-width: 100%;
  margin-top: 1.5vw;
  border: 3px solid #7fbe13;
  -webkit-box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.69);
  border-radius: 20px;
  padding: 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}

.total {
  padding: .8vw 1.4vw;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.69);
}

.message{
  margin-top: 3vw;
  margin-bottom: 3vw;
  color: red;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    padding: 0;
    width: 100vw;
    padding-bottom: 10vw;
  }

  .title {
    color: white;
    font-size: 6vw;
    font-family: "Gotham Black";
    font-weight: 800;
    text-align: center;
    padding: 6vw;
  }
  .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

input {
  max-width: 90%;
}

.map-container {
  margin-top: 5vw;
  margin-bottom:5vw;
  padding-left: 5%;
  padding-right: 5%;
}

}

