$width-lg: 20vw;
$width-md: 200px;

.reason-content {
  display: flex;
  max-width: 90vw;
}

.reverse {
  flex-direction: row-reverse;
}

.gradient {
  height: $width-lg;
  width: $width-lg;
  background: #12468d;
  background: linear-gradient(0deg, #12468d, #7fbe13);
  padding: 7px;
}

.color-bg {
  height: $width-lg;
  background-color: #1d213e;
}

.photo {
  position: relative;
  top: 15px;
  object-fit: cover;
  height: calc($width-lg + 5px);
  width: calc($width-lg + 5px);
}

.right {
  right: 15px;
}

.left {
  left: 15px;
}

.info-container {
  margin: 10%;
  max-width: 60%;
  font-family: "Gotham Medium";
  color: white;
}

.title {
  font-weight: bold;
  font-size: 2vw;
  margin-bottom: 15px;
}

.text {
  font-size: 1.5vw;
}

@media (max-width: 820px) {
  .reason-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reverse {
    flex-direction: column;
  }

  .gradient {
    height: $width-md;
    width: $width-md;
  }

  .color-bg {
    height: $width-md;
  }

  .photo {
    height: calc($width-md + 5px);
    width: calc($width-md + 5px);
  }

  .left {
    right: 15px;
  }

  .info-container {
    margin: 10%;
    max-width: 90%;
  }

  .title {
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 15px;
  }

  .text {
    font-size: 3.5vw;
  }

}