.container {
  margin-top: 2em;
  background-color: white;
}

.title {
  color: #1d213e;
  font-size: 3vw;
  font-family: "Gotham Black";
  font-weight: 800;
  text-align: center;
  padding: 3vw;
}

@media (max-width: 820px) {
  .dumpsters {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .title {
    font-size: 5vw;
  }
}

.dumpsters {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.dumpster {
  width: 22vw;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}