.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
  margin-right: 6vw;
}

.alert {
  height: 14vw;
}
.btn-contact {
  height: 5vw;
  cursor: pointer;
  transition: transform 0.25s ease;
  background: linear-gradient(353deg, rgba(2,44,166,1) 31%, rgba(134,255,0,1) 100%);
}
.btn-contact:hover {
  transform: scale(1.2);
}
.text {
  font-family: "Raleway";
  font-size: 2.5vw;
  font-weight: 800;
  padding: 4vw;
  color: #0032a1;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .alert {
    height: 14vw;
  }
  .btn-contact {
    height: 9vw;
    cursor: pointer;
    transition: transform 0.25s ease;
  }
  .btn-contact:hover {
    transform: scale(1.2);
  }
  .text {
    font-family: "Raleway";
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    padding: 2vw;
    color: #0032a1;
  }
}
