.container{
  background-color:#1d213e;
  margin-top:2em;
padding-bottom:2em;
padding-top:.1em;
}
.title{
  color:white;
  font-size:3vw;
  font-family:"Raleway";
  font-weight:800;
  text-align:center;
  padding:3vw;
}

.steps{
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding-bottom:2em;
}
