.container {
    width: 102vw;
    position: absolute;
    left: 0;
    top: 5%;
    z-index: 15;
    background-color: white;
    display: none;
    align-items: center;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    /* no underline */
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    white-space: pre;
}

li {
    list-style: none;
}

.nav__item {
    position: relative;
    margin: 0px 10px;
    padding: 37px 8px;
    line-height: 16px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    font-family: "Gotham Medium";
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}